[user]
	name = linmic
	email = linmic_lin@htc.com
[alias]
	di = diff
	co = checkout
	ci = commit
	st = status
	br = branch
	amend = commit -C HEAD --amend
    sh = !git-sh
    logg = log --graph
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
    # excludesfile = /Users/ihower/.gitignore
	editor = vim
[apply]
	whitespace = nowarn
[pager]
	diff =
