[user]
  name = Linmic
  email = linmic_lin@htc.com
[alias]
  di = diff
  co = checkout
  ci = commit
  st = status
  br = branch
  pull = pull --rebase
  amend = commit -C HEAD --amend
  sh = !git-sh
  logg = log --graph
  monthly = log --author=linmic --pretty=format:'%h by %an, date: %ad, message: %s' --date=short --since='30 days ago' --no-merges
  biweekly = log --author=linmic --pretty=format:'%h by %an, date: %ad, message: %s' --date=short --since='13 days ago' --no-merges
  weekly = log --author=linmic --pretty=format:'%h by %an, date: %ad, message: %s' --date=short --since='6 days ago' --no-merges
  daily = log --author=linmic --pretty=format:'%h by %an, date: %ad, message: %s' --date=short --after='yesterday' --no-merges
	link = "!f() { echo https://$(git config --get remote.origin.url | sed s/^[[:alpha:]]*@//  | sed s/:/\\\\// | sed s/\\\\.git$//)/commit/$(git rev-parse ${1:-HEAD}); }; f"
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
  editor = vim
  excludesfile = /Users/linmic/.gitignore
[apply]
  whitespace = nowarn
[pull]
  default = simple
[pager]
    # diff =
[push]
  default = current
[diff]
  tool = icdiff
[difftool "icdiff"]
  cmd = icdiff $LOCAL $REMOTE
